---
import Layout from "@layouts/Default.astro";
import EventList from "@components/events/EventList.astro";
import { turso } from "src/lib/turso";

// Define the type to match your database schema
interface Event {
  event_id: number;
  age: string;
  imageURL: string;
  name: string;
  description: string;
  location: string;
  start_time: string;
  end_time: string;
  timezone: string;
  is_participating: boolean;
}

// Get events from the database
let result;
if (Astro.locals.user) {
  result = await turso.execute({
    sql: "SELECT e.*, CASE WHEN ep.user_id IS NOT NULL THEN true ELSE false END AS is_participating FROM events e LEFT JOIN Event_Participants ep ON e.event_id = ep.event_id AND ep.user_id = ? GROUP BY e.event_id;",
    args: [Astro.locals.user.id],
  });
} else {
  result = await turso.execute({
    sql: "SELECT e.*, false as is_participating FROM events e;",
    args: [],
  });
}

// Format the database results
const formattedEvents = result.rows.map((row) => {
  return result.columns.reduce((obj: Event, column, index) => {
    (obj as any)[column] = row[index];
    return obj;
  }, {} as Event);
});

// Filter events that haven't ended yet
const currentTime = new Date().toISOString();
const filteredEvents = formattedEvents
  .filter((event) => event.end_time > currentTime)
  .sort(
    (a, b) =>
      new Date(a.start_time).getTime() - new Date(b.start_time).getTime(),
  );
---

<Layout
  title="Event Ability | Events"
  description="Here is a selection of all current Event Ability events"
  pageTitle="Event Ability | Events"
>
  <div class="bg-[#B8E8FF]">
    <main class="p-6 max-w-[1400px] mx-auto min-h-[calc(100vh-4rem)]">
      {
        filteredEvents.length > 0 ? (
          <EventList posts={filteredEvents} />
        ) : (
          <div class="max-w-2xl mx-auto bg-white rounded-lg shadow-lg overflow-hidden mt-12">
            <div class="p-16">
              <svg
                class="w-24 h-24 mx-auto mb-6 text-gray-400"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                />
              </svg>
              <h2 class="text-3xl font-semibold text-center mb-4">
                No Events Found
              </h2>
              <p class="text-gray-600 text-center text-lg">
                There are currently no upcoming events scheduled. Please check
                back later!
              </p>
            </div>
          </div>
        )
      }
    </main>
  </div>
</Layout>
